name: "Continuous Integration"

on: [push]

jobs:
  build:
    name: Build, Lint and Test code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build code
        run: npm run build

      - name: Test code
        run: npm run test:nobuild